.btn_Apply_Now {
  font-size: 13px;
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: #4fa16c;
  width: 100px;
  height: 100px;
  padding: 15px 32px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  transition: 0.5s ease;
  top: 2px;
  right: 60px;
  font-display: center;
}
